/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&sk {
    release-after-ms = <1200>;
    quick-release;
};

&sl {
    release-after-ms = <700>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                       &kp C_MUTE    &kp C_PP
&kp Q      &kp W     &kp E    &kp R    &kp T         &kp Y        &kp U        &kp I     &kp O     &kp P
&kp A      &kp S     &kp D    &kp F    &kp G         &kp H        &kp J        &kp K     &kp L     &kp FSLH
&kp Z      &kp X     &kp C    &kp V    &kp B         &kp N        &kp M        &kp COMMA &kp DOT   &kp RET
           &kp LCTRL     &kp TAB                                                     &kp BSPC     &kp LALT
                              &sl 1    &kp SPACE     &kp SPACE   &kp LSHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN
                               &inc_dec_kp C_FF C_RW>;
        }
;
        lower_layer {
            bindings = <
                                       &trans        &trans
&kp N1     &kp N2    &kp N3   &kp N4     &kp N5        &kp N6       &kp N7      &kp N8     &kp N9     &kp N0
&kp ESC    &kp SQT   &kp UP   &kp BSPC   &kp INS       &kp LBKT     &kp RBKT    &kp EQUAL  &kp MINUS  &kp SEMI
&kp GRAVE  &kp LEFT  &kp DOWN &kp RIGHT  &kp LEFT      &kp END      &kp DEL     &kp HOME   &kp TAB    &kp BSLH
           &trans    &kp CAPS                                                     &kp COLON     &kp RPAR
                              &sl 2    &kp LEFT        &kp RIGHT     &sk LWIN
            >;
        };

        function_layer {
            bindings = <
                                       &none         &none
&kp F1     &kp F2    &kp F3   &kp F4   &kp F5        &kp F6       &kp F7       &kp F8    &kp F9    &kp F10
&kp F11    &kp F12   &none    &kp BSPC &none         &none        &none        &none     &none     &none
&kp TILDE  &trans &none    &kp RET  &none         &none        &none        &none     &none     &none
           &none     &none                                                     &none     &none
                              &none    &sk LS(LG(S))        &sk LG(G)    &sk LC(LWIN)
            >;
        };
    };
};
